body {
  color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  margin: 3rem;
  // transition: background-color 1s ease;
  @media (prefers-color-scheme: light) {
    background-color: var(--bg-color);
    background-image: url("../img/loader-light.gif");
  }
  @media (prefers-color-scheme: dark) {
    background-color: var(--bg-color-dark);
    background-image: url("../img/loader-dark.gif");
  }

  &.light-mode {
    background-color: var(--bg-color);
    background-image: url("../img/loader-light.gif");
    // transition: background-color 1s ease;
  }

  &.dark-mode {
    background-color: var(--bg-color-dark);
    background-image: url("../img/loader-dark.gif");
    // transition: background-color 1s ease;
  }
}

a {
  color: var(--active-color);
  text-decoration: none;
  transition: color 0.2s ease-out;

  &:hover {
    transition: color 0.05s ease-out;
  }
}

.light-mode a:hover {
  color: #333;
}

.dark-mode a:hover {
  color: #fff;
}

small {
  color: #757575;
}

img {
  vertical-align: bottom;
}

.container {
  display: flex;
  opacity: 0;
  // transition: opacity 0.15s ease 2s;
}

.js-loaded {

  // body {
  //   background-image: none;
  // }

  .container {
    opacity: 1;
    // transition: opacity 0.15s ease 2s;
  }
}

// ! sidebar
.sidebar {
  flex: 0 1 200px;
}

// ! content
.content {
  flex: 0 1 calc(100% - 200px);
  padding-left: 2.5rem;
}

// ! markdown import
pre#md-table {
  opacity: 0;
}
