body {
  color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  margin: 3rem;
  min-width: 672px;
  @media (prefers-color-scheme: light) {
    background-color: var(--bg-color);
  }
  @media (prefers-color-scheme: dark) {
    background-color: var(--bg-color-dark);
  }

  &.light-mode {
    background-color: var(--bg-color);
  }

  &.dark-mode {
    background-color: var(--bg-color-dark);
  }
}

::selection {
  color: #fff;
  background-color: var(--active-color);
}

a {
  color: var(--active-color);
  text-decoration: none;
  transition: color 0.2s ease-out;

  &:hover {
    transition: color 0.05s ease-out;
  }
}

.light-mode a:hover {
  color: #333;
}

.dark-mode a:hover {
  color: #fff;
}

small {
  color: #757575;
}

img {
  vertical-align: bottom;
}

.container {
  display: flex;
  flex-wrap: wrap;
  opacity: 0;
  transition: opacity 0.7s ease 0.15s;
  @media #{$breakpoint-lg-up} {
    flex-wrap: nowrap;
  }
}

.js-loaded {

  .container {
    opacity: 1;
    transition: opacity 0.7s ease 0.15s;
  }
}

// ! sidebar
.sidebar {
  flex: 0 1 100%;
  @media #{$breakpoint-lg-up} {
    flex: 0 1 275px;
  }
}

// ! content
.content {
  flex: 0 1 100%;
  @media #{$breakpoint-lg-up} {
    flex: 0 1 calc(100% - 275px);
    padding-right: 2.5rem;
  }
}

// ! footer
.footer {

  p {
    color: #c5c5c5;
    font-size: rem(12);
    padding-left: 1rem;
  }

  a {
    color: #c5c5c5;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  &.dark-mode {

    p,
    a {
      color: #757575;
    }
  }
}

// ! links import
pre#links-table {
  opacity: 0;
}

// ! modal
.modal-bg {
  background-color: var(--bg-color-dark);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);

  &.open {
    opacity: 0.75;
    right: 0;
    bottom: 0;
    transition: opacity 0.25s ease 0.1s;
  }

  &.closing {
    opacity: 0;
    transition: opacity 0.5s ease 0.1s;
  }
}

.modal {
  border-radius: 18px;
  background-color: var(--bg-color-dark);
  box-shadow: 0 2px 28px 7px rgba(#000, 0.25), inset 0 0 0 1px #000;
  opacity: 0;
  position: fixed;
  // top: -999px;
  top: 48%;
  left: 50%;
  z-index: 2;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
  max-width: 480px;
  cursor: pointer;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);

  &.open {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.4s cubic-bezier(0.34, 1.56, 0.64, 1) 0.1s;
  }

  &.closing {
    opacity: 0;
    transition: opacity 0.35s cubic-bezier(0.16, 1, 0.3, 1);
  }

  &::after {
    content: "";
    border-radius: 18px;
    box-shadow: inset 0 0 0 1px rgba(#fff, 0.1);
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    pointer-events: none;
  }

  &.reset-list .add-group-header,
  &.add-group .reset-sort-list {
    display: none;
  }

  h3 {
    font-size: rem(15);
    margin: 0;
  }

  p {
    font-size: rem(14);
  }

  .create-group-input {
    border: 1px solid rgba(#fff, 0.2);
    border-radius: 3px;
    // box-shadow: inset 0 -1px 7px 3px rgba(#000, 0.2);
    margin: 1rem 0;
    padding: 0.5rem;
    width: 100%;
  }

  .modal-action {
    display: flex;
    justify-content: flex-end;
    padding-top: 0.5rem;

    button {
      border-style: none;
      border-radius: 3px;
      background-color: #656565;
      box-shadow: 0 1px 1px 0 rgba(#1a1a1a, 0.6);
      margin-left: 16px;
      padding: 0.43rem 1rem;

      &:hover {
        background-color: var(--active-color);
        box-shadow: 0 1px 1px 0 rgba(#1a1a1a, 0.6);
      }

      &.clearsort {
        background-color: #e53935;
        box-shadow: 0 1px 1px 0 rgba(#1a1a1a, 0.6);

        &:hover {
          background-color: #c62828;
          box-shadow: 0 1px 1px 0 rgba(#1a1a1a, 0.6);
        }
      }
    }
  }
}
