body {
  color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  margin: 3rem;
  @media (prefers-color-scheme: light) {
    background-color: var(--bg-color);
  }
  @media (prefers-color-scheme: dark) {
    background-color: var(--bg-color-dark);
  }

  &.light-mode {
    background-color: var(--bg-color);
  }

  &.dark-mode {
    background-color: var(--bg-color-dark);
  }
}

a {
  color: var(--active-color);
  text-decoration: none;
  transition: color 0.2s ease-out;

  &:hover {
    transition: color 0.05s ease-out;
  }
}

.light-mode a:hover {
  color: #333;
}

.dark-mode a:hover {
  color: #fff;
}

small {
  color: #757575;
}

img {
  vertical-align: bottom;
}

.container {
  display: flex;
  flex-wrap: wrap;
  opacity: 0;
  padding-top: 0.75rem;
  transition: all 0.7s ease 0.15s;
  @media #{$breakpoint-xl-up} {
    flex-wrap: nowrap;
  }
}

.js-loaded {

  .container {
    opacity: 1;
    padding-top: 0;
    transition: all 0.7s ease 0.15s;
  }
}

// ! sidebar
.sidebar.left {
  flex: 0 1 50%;
  order: 2;
  padding-right: 1.25rem;
  @media #{$breakpoint-xl-up} {
    flex: 0 1 235px;
    order: 1;
    padding-right: 0;
  }
}

.sidebar.right {
  flex: 0 1 50%;
  order: 3;
  padding-left: 1.25rem;
  @media #{$breakpoint-xl-up} {
    flex: 0 1 200px;
    padding-left: 0;
  }
}

// ! content
.content {
  flex: 0 1 100%;
  order: 2;
  @media #{$breakpoint-xl-up} {
    flex: 0 1 calc(100% - 435px);
    padding: 0 2.5rem;
  }
}

// ! markdown import
pre#md-table {
  opacity: 0;
}
