// ! sidebar
.sidebar {

  .sidebar-label {
    color: #656565;
    font-size: rem(14);
    font-weight: 600;
    text-transform: uppercase;
    border-top: 1px dotted var(--border-color);
    margin-top: 0.5rem;
    padding: 1rem 0;

    &:first-child {
      border-top-style: none;
      margin-top: 0;
      padding-top: 0;
    }

    .fas {
      color: #555;
      margin-right: 4px;
    }
  }

  &.dark-mode {

    .sidebar-label {
      color: #888;
      font-weight: 500;
      border-top-color: var(--border-color-dark);

      .fas {
        color: #656565;
      }
    }
  }
}

// ! logo
.logo {
  @include container-box();
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0 !important;
  padding-right: 1rem !important;
  padding-bottom: 0 !important;
  padding-left: 1rem !important;
  height: 88px;

  .logo-img {
    flex: 0 1 55%;
    position: relative;
    transition: background 0.25s ease;

    svg {
      transform: scale(0.57);

      path {
        fill: #222;
      }

      rect {
        stroke: #222;
      }
    }

    &::after {
      content: "";
      border-right: 1px solid var(--border-color);
      display: block;
      position: absolute;
      top: 1rem;
      right: 0;
      height: calc(100% - 2rem);
    }
  }

  &.dark-mode {
    @include container-box(dark);

    .logo-img {
      transition: background 0.25s ease;

      &::after {
        border-right-color: var(--border-color-dark);
      }

      svg path {
        fill: #eee;
      }

      svg rect {
        stroke: #eee;
      }
    }
  }

  .server-version {
    text-align: center;
    flex: 0 1 45%;
  }
}

// ! menu
.menu {
  @include container-box;
  font-size: rem(14);
  list-style: none;
  margin-top: 0;

  a {
    color: #333;
    display: block;
    padding: 0.5rem 0;

    &:hover {
      color: var(--active-color);
    }

    .fas,
    span {
      color: #757575;
      float: right;
    }
  }

  &.dark-mode {
    @include container-box(dark);

    a {
      color: #ccc;

      &:hover,
      &:hover .fas {
        color: var(--active-color);
      }

      .fas,
      span {
        color: #999;
      }
    }
  }
}

// ! theme switch
.settings {
  @include container-box;

  .mode-switch-container {
    display: flex;
    // justify-content: center;
    align-items: center;
    cursor: default;
    padding-bottom: 1rem;

    .mode-label {
      color: #656565;
      font-size: rem(14);
      padding-right: 0.5rem;
    }

    #mode-switch {
      border-radius: 20px;
      display: inline-block;
      position: relative;
      margin-left: auto;
      width: 54px;
      height: 26px;

      &::after {
        content: "";
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        top: 2px;
        width: 22px;
        height: 22px;
        transition: all 0.3s;
      }
    }
  }

  &.light-mode {

    #mode-switch {
      background-color: #999;

      &::after {
        left: 2px;
      }
    }
  }

  &.dark-mode {
    @include container-box(dark);

    .mode-switch-container {

      .mode-label {
        color: #ccc;
      }

      #mode-switch {
        background-color: var(--active-color);

        &::after {
          left: 30px;
        }
      }
    }
  }
}

// ! color picker
.color-picker-container {
  border-top: 1px solid var(--border-color);
  display: flex;
  // justify-content: center;
  align-items: center;
  padding-top: 1rem;

  .color-label {
    color: #656565;
    font-size: rem(14);
    padding-right: 0.5rem;
  }

  .color-wrap {
    text-align: right;
    flex-grow: 2;

    #color-picker {
      border-width: 0;
      border-style: none;
      border-image: none;
      background-color: transparent;
      padding: 0;
      width: 54px;
      height: 26px;
      -webkit-appearance: none;
      appearance: none;
    }
  }
}

.dark-mode .color-picker-container {
  border-top-color: var(--border-color-dark);

  .color-label {
    color: #ccc;
  }
}
