// ! sidebar
.sidebar {

  .sidebar-container {
    @include container-box;
    font-size: rem(14);
    list-style: none;
    margin-top: 0;

    .sidebar-label {
      color: #444;
      font-size: rem(14);
      font-weight: 600;
      text-transform: uppercase;
      border-top: 1px solid var(--border-color);
      margin-top: 0.5rem;
      padding: 1.5rem 0 1rem;

      &:first-child {
        border-top-style: none;
        margin-top: 0;
        padding-top: 0;
      }

      small {
        text-transform: none;
        display: block;
        padding-top: 8px;

        code {
          font-size: 10px;
        }
      }
    }

    // valet-brand
    .valet-docs,
    .valet-github {

      .tech-label {

        a {
          color: #333;
          text-decoration: underline #ccc;
          display: block;
          padding: 0.5rem 0;

          .fa-external-link-square-alt {
            color: #757575;
            float: right;
          }

          &:hover,
          &:hover .fa-external-link-square-alt {
            color: var(--active-color);
            text-decoration: none;
          }
        }
      }
    }

    // server-list
    .server-version {
      display: flex;
      align-items: center;
      position: relative;

      .tech-label {
        flex: 1 1 auto;
        color: #333;
        padding: 0.5rem 0;

        a {
          color: #333;
          text-decoration: underline #ccc;

          &:hover {
            color: var(--active-color);
            text-decoration: none;
          }
        }
      }

      .tech-info {
        flex: 0 1 auto;
        color: #333;
      }
    }
  }

  &.dark-mode {

    .sidebar-container {
      @include container-box(dark);

      .sidebar-label {
        color: #999;
        font-weight: 500;
        border-top-color: var(--border-color-darker);
      }

      // valet-brand
      .valet-docs,
      .valet-github {

        .tech-label {

          a {
            color: #ccc;
            text-decoration: underline #656565;

            .fa-external-link-square-alt {
              color: #999;
            }

            &:hover,
            &:hover .fa-external-link-square-alt {
              color: var(--active-color);
              text-decoration: none;
            }
          }
        }
      }

      // server-list
      .server-version {

        .tech-label {
          color: #ccc;

          a {
            color: #ccc;
            text-decoration: underline #656565;

            &:hover {
              color: var(--active-color);
              text-decoration: none;
            }
          }
        }

        .tech-info {
          color: #999;
        }
      }
    }
  }
}

// ! logo
.sidebar-container {

  &:first-child {
    padding-top: 1rem !important;
  }

  .logo {
    text-align: center;
    margin-bottom: 1.5rem;

    .logo-img {
      display: block;
      transition: background 0.25s ease;

      svg {
        transform: scale(0.85);

        path {
          fill: #222;
        }

        rect {
          stroke: #222;
        }
      }
    }

    .valet-version {
      color: #333;
      text-align: center;
      border-radius: 24px;
      background-color: #e0e0e0;
      display: inline-block;
      padding: 2px 10px;
    }
  }

  &.dark-mode .logo {

    .logo-img {
      transition: background 0.25s ease;

      svg path {
        fill: #eee;
      }

      svg rect {
        stroke: #eee;
      }
    }

    .valet-version {
      color: #fff;
      background-color: #555;
    }
  }
}

// ! settings
.settings.sidebar-container {
  @include container-box;

  .settings-label {
    color: #333;
    font-size: rem(14);
    padding-right: 0.5rem;
  }

  .dark-mode-switch-container,
  .focus-quick-find-switch-container,
  .color-picker-container,
  .sortable-container {
    border-top: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &.dark-mode {
    @include container-box(dark);

    .settings-label {
      color: #ccc;
    }

    .dark-mode-switch-container,
    .focus-quick-find-switch-container,
    .color-picker-container,
    .sortable-container,
    .quick-find-container {
      border-top: 1px solid var(--border-color-darker);
    }
  }
}

// ! theme switch
.settings.sidebar-container {

  .dark-mode-switch-container, .focus-quick-find-switch-container {
    border-top-style: none;
    cursor: default;

    #dark-mode-switch, #focus-quick-find-switch {
      border-radius: 20px;
      display: inline-block;
      position: relative;
      margin-left: auto;
      width: 54px;
      height: 26px;

      &::after {
        content: "";
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        top: 2px;
        width: 22px;
        height: 22px;
        transition: all 0.3s;
      }
    }
  }

  &.light-mode {

    #dark-mode-switch, #focus-quick-find-switch {
        &.on {
          background-color: var(--active-color);

          &::after {
            left: 30px;
          }
        }

        &.off {
          background-color: #999;

          &::after {
            left: 2px;
          }
        }
    }
  }

  &.dark-mode {

    .dark-mode-switch-container, .focus-quick-find-switch-container {
      border-top-style: none;

      #dark-mode-switch, #focus-quick-find-switch {
        &.on {
          background-color: var(--active-color);

          &::after {
            left: 30px;
          }
        }

        &.off {
          background-color: #999;

          &::after {
            left: 2px;
          }
        }
      }
    }
  }
}

// ! color picker
.settings.sidebar-container {

  .color-picker-container {

    .color-wrap {
      flex-grow: 2;
      text-align: right;

      #color-picker {
        border-width: 0;
        border-style: none;
        border-image: none;
        background-color: transparent;
        padding: 0;
        width: 54px;
        height: 26px;
        -webkit-appearance: none;
        appearance: none;

        &::-webkit-color-swatch {
          background-color: var(--active-color);
        }
      }
    }
  }
}

// ! sortable
.settings.sidebar-container {

  .sortable-container {

    .sortable-wrap {
      flex-grow: 2;
      text-align: right;

      button {
        color: #333;
        font-size: rem(13);
        border-style: none;
        border-radius: 3px;
        background-color: #eee;
        padding: 0.4rem 0.7rem;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover:enabled {
          color: #fff;
          background-color: var(--active-color) !important;
          transition: all 0.15s ease;
        }
      }
    }

    &.disabled {

      .sortable-label,
      button {
        opacity: 0.4;
      }

      button {
        cursor: default;
      }
    }
  }

  &.dark-mode .sortable-container {

    .sortable-wrap button {
      color: #fff;
      background-color: var(--border-color-dark);
    }
  }
}

// ! quick-find
.valet-brand.sidebar-container {

  .quick-find-container {
    border-top: 1px solid var(--border-color);
    margin-top: .5rem;
    padding-top: 1.5rem;

    .settings-label {
      display: none;
    }

    .quick-find-wrap {

      #filter-input {
        color: var(--active-color);
        border: 1px solid var(--border-color);
        border-radius: 3px;
        background-color: #eee;
        padding: 0.5rem;
        width: 100%;

        &:focus {
          outline-color: var(--active-color);
          outline-style: solid;
          outline-width: 1px;
          outline-offset: -1px;
        }
      }
    }
  }

  &.dark-mode .quick-find-container {

    .quick-find-wrap {

      #filter-input {
        border-color: #555;
        background-color: #3b3b3b;
      }
    }
  }
}
