// ! sidebar
.sidebar {

  .sidebar-label {
    color: #888;
    font-size: rem(14);
    text-transform: uppercase;
    border-top: 1px solid var(--border-color);
    margin-top: 0.5rem;
    padding: 1rem 0.5rem;

    &:first-child {
      border-top-style: none;
      margin-top: 0;
      padding-top: 0;
    }
  }

  &.dark-mode {

    .sidebar-label {
      border-top-color: var(--border-color-dark);
    }
  }
}

// ! logo
.logo {
  @include container-box;
  display: flex;
  justify-content: center;
  align-items: center;

  .logo-img {
    text-align: center;
    text-indent: -9999px;
    border-right: 1px solid var(--border-color);
    background: transparent url("../img/laravel-logo.svg") no-repeat -100px center;
    flex: 0 1 60%;
    width: 70px;
    height: 73px;
    transition: background 0.25s ease;
  }

  &.dark-mode {
    @include container-box(dark);

    .logo-img {
      border-right-color: var(--border-color-dark);
      background-position: 0 center;
      transition: background 0.25s ease;
    }
  }

  .server-version {
    text-align: center;
    flex: 0 1 40%;
  }
}
