@charset "UTF-8";
:root {
  --active-color: #ba68c8;
  --border-color: #e0e0e0;
  --bg-color: #f6f6f6;
  --border-color-dark: #444;
  --border-color-darker: #353535;
  --bg-color-dark: #171717;
}

/* stylelint-disable value-no-vendor-prefix */
/* stylelint-disable declaration-block-no-duplicate-properties */
body {
  color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  margin: 3rem;
  min-width: 672px;
}
@media (prefers-color-scheme: light) {
  body {
    background-color: var(--bg-color);
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--bg-color-dark);
  }
}
body.light-mode {
  background-color: var(--bg-color);
}
body.dark-mode {
  background-color: var(--bg-color-dark);
}

a {
  color: var(--active-color);
  text-decoration: none;
  transition: color 0.2s ease-out;
}
a:hover {
  transition: color 0.05s ease-out;
}

.light-mode a:hover {
  color: #333;
}

.dark-mode a:hover {
  color: #fff;
}

small {
  color: #757575;
}

img {
  vertical-align: bottom;
}

.container {
  display: flex;
  flex-wrap: wrap;
  opacity: 0;
  transition: opacity 0.7s ease 0.15s;
}
@media (min-width: 993px) {
  .container {
    flex-wrap: nowrap;
  }
}

.js-loaded .container {
  opacity: 1;
  transition: opacity 0.7s ease 0.15s;
}

.sidebar {
  flex: 0 1 100%;
}
@media (min-width: 993px) {
  .sidebar {
    flex: 0 1 235px;
  }
}

.content {
  flex: 0 1 100%;
}
@media (min-width: 993px) {
  .content {
    flex: 0 1 calc(100% - 235px);
    padding-right: 2.5rem;
  }
}

.footer {
  font-size: 0.75rem;
}
.footer p {
  color: #c5c5c5;
  padding-left: 1rem;
}
.footer a {
  color: #c5c5c5;
  text-decoration: underline;
}
.footer a:hover {
  text-decoration: none;
}
.footer.dark-mode p,
.footer.dark-mode a {
  color: #757575;
}

pre#links-table {
  opacity: 0;
}

.sidebar .sidebar-label {
  color: #656565;
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
  border-top: 1px dotted var(--border-color);
  margin-top: 0.5rem;
  padding: 1rem 0;
}
.sidebar .sidebar-label:first-child {
  border-top-style: none;
  margin-top: 0;
  padding-top: 0;
}
.sidebar .sidebar-label .fas {
  color: #555;
  margin-right: 4px;
}
.sidebar.dark-mode .sidebar-label {
  color: #888;
  font-weight: 500;
  border-top-color: var(--border-color-dark);
}
.sidebar.dark-mode .sidebar-label .fas {
  color: #656565;
}

.logo {
  border-radius: 14px;
  background-color: #fff;
  box-shadow: 0 1px 14px 5px rgba(0, 0, 0, 0.05);
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0 !important;
  padding-right: 1rem !important;
  padding-bottom: 0 !important;
  padding-left: 1rem !important;
  height: 88px;
}
.logo .logo-img {
  flex: 0 1 55%;
  position: relative;
  transition: background 0.25s ease;
}
.logo .logo-img svg {
  transform: scale(0.57);
}
.logo .logo-img svg path {
  fill: #222;
}
.logo .logo-img svg rect {
  stroke: #222;
}
.logo .logo-img::after {
  content: "";
  border-right: 1px solid var(--border-color);
  display: block;
  position: absolute;
  top: 1rem;
  right: 0;
  height: calc(100% - 2rem);
}
.logo.dark-mode {
  border-radius: 14px;
  background-color: #fff;
  box-shadow: 0 1px 14px 5px rgba(0, 0, 0, 0.05);
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  background-color: #252525;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.07), 0 1px 14px 5px rgba(0, 0, 0, 0.15);
}
.logo.dark-mode .logo-img {
  transition: background 0.25s ease;
}
.logo.dark-mode .logo-img::after {
  border-right-color: var(--border-color-dark);
}
.logo.dark-mode .logo-img svg path {
  fill: #eee;
}
.logo.dark-mode .logo-img svg rect {
  stroke: #eee;
}
.logo .server-version {
  text-align: center;
  flex: 0 1 45%;
}

.menu {
  border-radius: 14px;
  background-color: #fff;
  box-shadow: 0 1px 14px 5px rgba(0, 0, 0, 0.05);
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  font-size: 0.875rem;
  list-style: none;
  margin-top: 0;
}
.menu a {
  color: #333;
  display: block;
  padding: 0.5rem 0;
}
.menu a:hover {
  color: var(--active-color);
}
.menu a .fas,
.menu a span {
  color: #757575;
  float: right;
}
.menu.dark-mode {
  border-radius: 14px;
  background-color: #fff;
  box-shadow: 0 1px 14px 5px rgba(0, 0, 0, 0.05);
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  background-color: #252525;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.07), 0 1px 14px 5px rgba(0, 0, 0, 0.15);
}
.menu.dark-mode a {
  color: #ccc;
}
.menu.dark-mode a:hover, .menu.dark-mode a:hover .fas {
  color: var(--active-color);
}
.menu.dark-mode a .fas,
.menu.dark-mode a span {
  color: #999;
}

.settings {
  border-radius: 14px;
  background-color: #fff;
  box-shadow: 0 1px 14px 5px rgba(0, 0, 0, 0.05);
  margin-bottom: 1.5rem;
  padding: 1.5rem;
}
.settings .mode-switch-container {
  display: flex;
  align-items: center;
  cursor: default;
  padding-bottom: 1rem;
}
.settings .mode-switch-container .mode-label {
  color: #656565;
  font-size: 0.875rem;
  padding-right: 0.5rem;
}
.settings .mode-switch-container #mode-switch {
  border-radius: 20px;
  display: inline-block;
  position: relative;
  margin-left: auto;
  width: 54px;
  height: 26px;
}
.settings .mode-switch-container #mode-switch::after {
  content: "";
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 2px;
  width: 22px;
  height: 22px;
  transition: all 0.3s;
}
.settings.light-mode #mode-switch {
  background-color: #999;
}
.settings.light-mode #mode-switch::after {
  left: 2px;
}
.settings.dark-mode {
  border-radius: 14px;
  background-color: #fff;
  box-shadow: 0 1px 14px 5px rgba(0, 0, 0, 0.05);
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  background-color: #252525;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.07), 0 1px 14px 5px rgba(0, 0, 0, 0.15);
}
.settings.dark-mode .mode-switch-container .mode-label {
  color: #ccc;
}
.settings.dark-mode .mode-switch-container #mode-switch {
  background-color: var(--active-color);
}
.settings.dark-mode .mode-switch-container #mode-switch::after {
  left: 30px;
}

.color-picker-container {
  border-top: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  padding-top: 1rem;
}
.color-picker-container .color-label {
  color: #656565;
  font-size: 0.875rem;
  padding-right: 0.5rem;
}
.color-picker-container .color-wrap {
  text-align: right;
  flex-grow: 2;
}
.color-picker-container .color-wrap #color-picker {
  border-width: 0;
  border-style: none;
  border-image: none;
  background-color: transparent;
  padding: 0;
  width: 54px;
  height: 26px;
  -webkit-appearance: none;
  appearance: none;
}
.color-picker-container .color-wrap #color-picker::-webkit-color-swatch {
  background-color: var(--active-color);
}

.dark-mode .color-picker-container {
  border-top-color: var(--border-color-darker);
}
.dark-mode .color-picker-container .color-label {
  color: #ccc;
}

.sortable-container {
  border-top: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  margin-top: 1rem;
  padding-top: 1rem;
}
.sortable-container .sortable-label {
  color: #656565;
  font-size: 0.875rem;
  padding-right: 0.5rem;
}
.sortable-container .sortable-wrap {
  text-align: right;
  flex-grow: 2;
}
.sortable-container .sortable-wrap button {
  color: #333;
  font-size: 0.8125rem;
  border-style: none;
  border-radius: 3px;
  background-color: #eee;
  padding: 0.4rem 0.7rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sortable-container .sortable-wrap button:hover:enabled {
  color: #fff;
  background-color: var(--active-color) !important;
  transition: all 0.15s ease;
}
.sortable-container.disabled .sortable-label,
.sortable-container.disabled button {
  opacity: 0.4;
}
.sortable-container.disabled button {
  cursor: default;
}

.dark-mode .sortable-container {
  border-top-color: var(--border-color-darker);
}
.dark-mode .sortable-container .sortable-label {
  color: #ccc;
}
.dark-mode .sortable-container .sortable-wrap button {
  color: #fff;
  background-color: var(--border-color-dark);
}

.directory-name-container {
  border-top: 1px solid var(--border-color-darker);
  display: flex;
  align-items: center;
  opacity: 0;
  margin-top: 1rem;
  padding-top: 1rem;
}
.directory-name-container.focused {
  opacity: 1;
}

.valetlinks-wrap {
  border-radius: 14px;
  background-color: #fff;
  box-shadow: 0 1px 14px 5px rgba(0, 0, 0, 0.05);
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  color: #333;
  font-size: 0.875rem;
  text-align: center;
  width: 100%;
}
.valetlinks-wrap .header {
  display: flex;
}
.valetlinks-wrap .header .col {
  color: #656565;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 1rem;
  padding: 0.6rem 10px 0 0;
}
.valetlinks-wrap .header .col.grip {
  background-image: none !important;
  opacity: 1 !important;
}
.valetlinks-wrap .valetlinks-container .row {
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
}
.valetlinks-wrap .valetlinks-container .row.group {
  border-top: 1px solid var(--bg-color-dark);
}
.valetlinks-wrap .valetlinks-container .row.group .directory {
  display: block;
}
.valetlinks-wrap .valetlinks-container .row:hover {
  background-color: #f9f9f9;
}
.valetlinks-wrap .valetlinks-container .row:hover .col.grip {
  opacity: 0.5;
}
.valetlinks-wrap .valetlinks-container .row.ghost-class {
  background-color: #f9f9f9;
}
.valetlinks-wrap .header .directory,
.valetlinks-wrap .valetlinks-container .directory {
  flex: 0 1 100%;
  display: none;
}
.valetlinks-wrap .header .col,
.valetlinks-wrap .valetlinks-container .col {
  text-align: left;
  padding: 0.65rem 0.5rem;
}
.valetlinks-wrap .header .col.grip,
.valetlinks-wrap .valetlinks-container .col.grip {
  background: transparent url("../img/grip-light.svg") no-repeat center center;
  flex: 0 1 32px;
  order: 1;
  opacity: 0;
  position: relative;
  min-width: 32px;
  cursor: move;
}
.valetlinks-wrap .header .col.site,
.valetlinks-wrap .valetlinks-container .col.site {
  flex: 0 1 40%;
  order: 4;
  min-width: 40%;
}
.valetlinks-wrap .header .col.ssl,
.valetlinks-wrap .valetlinks-container .col.ssl {
  text-align: right;
  flex: 0 1 10%;
  order: 3;
  padding-right: 10px;
  min-width: 10%;
}
.valetlinks-wrap .header .col.ssl .fas,
.valetlinks-wrap .valetlinks-container .col.ssl .fas {
  color: #999;
  font-size: 14px;
  margin-top: 2px;
  margin-right: 6px;
}
.valetlinks-wrap .header .col.url,
.valetlinks-wrap .valetlinks-container .col.url {
  flex: 0 1 calc(40% - 48px);
  order: 2;
  min-width: calc(40% - 48px);
}
.valetlinks-wrap .header .col.url a,
.valetlinks-wrap .valetlinks-container .col.url a {
  font-weight: 500;
  display: block;
}
.valetlinks-wrap .header .col.tools,
.valetlinks-wrap .valetlinks-container .col.tools {
  background-color: #111;
  flex: 0 1 16px;
  order: 5;
  min-width: 16px;
}
.valetlinks-wrap .header .col.path,
.valetlinks-wrap .valetlinks-container .col.path {
  text-align: right;
  flex: 0 1 10%;
  order: 6;
  position: relative;
  padding: 0;
  min-width: 10%;
  cursor: default;
}

.dark-mode .valetlinks-wrap {
  border-radius: 14px;
  background-color: #fff;
  box-shadow: 0 1px 14px 5px rgba(0, 0, 0, 0.05);
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  background-color: #252525;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.07), 0 1px 14px 5px rgba(0, 0, 0, 0.15);
}
.dark-mode .valetlinks-wrap .header .col {
  color: #999;
  border-color: var(--border-color-dark);
}
.dark-mode .valetlinks-wrap .valetlinks-container {
  color: #ccc;
}
.dark-mode .valetlinks-wrap .valetlinks-container .row:hover,
.dark-mode .valetlinks-wrap .valetlinks-container .row.ghost-class {
  background-color: #333;
}
.dark-mode .valetlinks-wrap .valetlinks-container .col.grip {
  background-image: url("../img/grip-dark.svg");
}

.valetlinks-container span {
  display: block;
  position: relative;
  margin: 0 0 0 auto;
  width: 32px;
  height: 100%;
}
.valetlinks-container span::before {
  color: #999;
  content: "";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  position: absolute;
  top: 0.7rem;
  right: 10px;
  cursor: default;
}
.valetlinks-container span:hover::before {
  color: #222;
}
.valetlinks-container span em {
  color: #fff;
  font-style: normal;
  white-space: nowrap;
  border-radius: 3px;
  background-color: var(--active-color);
  display: block;
  opacity: 0;
  position: absolute;
  top: -9999px;
  right: -5px;
  z-index: 1;
  padding: 5px 12px;
  cursor: default;
  pointer-events: none;
}
.valetlinks-container span em::after {
  content: "";
  border-top: 8px solid var(--active-color);
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  position: absolute;
  right: 12px;
  bottom: -6px;
  z-index: 2;
  width: 0;
  height: 0;
}

.dark-mode .valetlinks-container span:hover::before {
  color: #fff;
}

.valetlinks-container span.show-path em {
  box-shadow: 0 1px 7px 3px rgba(0, 0, 0, 0.15);
  opacity: 1;
  top: -28px;
  transition: opacity 0.3s ease-out 0.15s;
}
.valetlinks-container span.fade em {
  opacity: 0;
  top: -28px;
  transition: opacity 0.2s ease-out;
}
/*# sourceMappingURL=styles.css.map */
