@charset "UTF-8";
/* stylelint-disable value-no-vendor-prefix */
/* stylelint-disable declaration-block-no-duplicate-properties */
:root {
  --active-color: #ba68c8;
  --border-color: #e0e0e0;
  --bg-color: #f6f6f6;
  --border-color-dark: #444;
  --border-color-darker: #353535;
  --bg-color-dark: #171717;
}

body {
  color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  margin: 3rem;
  min-width: 672px;
}
@media (prefers-color-scheme: light) {
  body {
    background-color: var(--bg-color);
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--bg-color-dark);
  }
}
body.light-mode {
  background-color: var(--bg-color);
}
body.dark-mode {
  background-color: var(--bg-color-dark);
}

::selection {
  color: #fff;
  background-color: var(--active-color);
}

a {
  color: var(--active-color);
  text-decoration: none;
  transition: color 0.2s ease-out;
}
a:hover {
  transition: color 0.05s ease-out;
}

.light-mode a:hover {
  color: #333;
}

.dark-mode a:hover {
  color: #fff;
}

small {
  color: #757575;
}

img {
  vertical-align: bottom;
}

.container {
  display: flex;
  flex-wrap: wrap;
  opacity: 0;
  transition: opacity 0.7s ease 0.15s;
}
@media (min-width: 993px) {
  .container {
    flex-wrap: nowrap;
  }
}

.js-loaded .container {
  opacity: 1;
  transition: opacity 0.7s ease 0.15s;
}

.sidebar {
  flex: 0 1 100%;
}
@media (min-width: 993px) {
  .sidebar {
    flex: 0 1 275px;
  }
}

.content {
  flex: 0 1 100%;
}
@media (min-width: 993px) {
  .content {
    flex: 0 1 calc(100% - 275px);
    padding-right: 2.5rem;
  }
}

.footer {
  font-size: 0.75rem;
}
.footer p {
  color: #c5c5c5;
  padding-left: 1rem;
}
.footer a {
  color: #c5c5c5;
  text-decoration: underline;
}
.footer a:hover {
  text-decoration: none;
}
.footer.dark-mode p,
.footer.dark-mode a {
  color: #757575;
}

pre#links-table {
  opacity: 0;
}

.modal-bg {
  background-color: var(--bg-color-dark);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}
.modal-bg.open {
  opacity: 0.75;
  right: 0;
  bottom: 0;
  transition: opacity 0.4s ease 0.2s;
}
.modal-bg.closing {
  opacity: 0;
  transition: opacity 0.5s ease 0.2s;
}

.modal {
  border-radius: 18px;
  background-color: var(--bg-color-dark);
  box-shadow: 0 2px 28px 7px rgba(0, 0, 0, 0.25), inset 0 0 0 1px #000;
  opacity: 0;
  position: fixed;
  top: -199px;
  left: 50%;
  z-index: 2;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
  max-width: 480px;
  cursor: pointer;
  transform: translate(-50%, 0);
  transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}
.modal.open {
  opacity: 1;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1) 0.2s;
}
.modal.closing {
  opacity: 0;
  top: -199px;
  transform: translate(-50%, 0);
  transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}
.modal::after {
  content: "";
  border-radius: 18px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  pointer-events: none;
}
.modal h3 {
  font-size: 0.9375rem;
  margin: 0;
}
.modal p {
  font-size: 0.875rem;
}
.modal .modal-action {
  display: flex;
  justify-content: flex-end;
  padding-top: 0.5rem;
}
.modal .modal-action button {
  border-style: none;
  border-radius: 3px;
  background-color: #656565;
  box-shadow: 0 1px 1px 0 rgba(26, 26, 26, 0.6);
  margin-left: 16px;
  padding: 0.43rem 1rem;
}
.modal .modal-action button:hover {
  background-color: var(--active-color);
  box-shadow: 0 1px 1px 0 rgba(26, 26, 26, 0.6);
}
.modal .modal-action button.clearsort {
  background-color: #e53935;
  box-shadow: 0 1px 1px 0 rgba(26, 26, 26, 0.6);
}
.modal .modal-action button.clearsort:hover {
  background-color: #c62828;
  box-shadow: 0 1px 1px 0 rgba(26, 26, 26, 0.6);
}

.sidebar .sidebar-label {
  color: #656565;
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
  border-top: 1px dotted var(--border-color);
  margin-top: 0.5rem;
  padding: 1rem 0;
}
.sidebar .sidebar-label:first-child {
  border-top-style: none;
  margin-top: 0;
  padding-top: 0;
}
.sidebar .sidebar-label .fas {
  color: #555;
  margin-right: 4px;
}
.sidebar.dark-mode .sidebar-label {
  color: #888;
  font-weight: 500;
  border-top-color: var(--border-color-dark);
}
.sidebar.dark-mode .sidebar-label .fas {
  color: #656565;
}

.logo {
  border-radius: 14px;
  background-color: #fff;
  box-shadow: 0 1px 14px 5px rgba(0, 0, 0, 0.05);
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0 !important;
  padding-right: 1rem !important;
  padding-bottom: 0 !important;
  padding-left: 1rem !important;
  height: 88px;
}
.logo .logo-img {
  flex: 0 1 55%;
  position: relative;
  transition: background 0.25s ease;
}
.logo .logo-img svg {
  transform: scale(0.57);
}
.logo .logo-img svg path {
  fill: #222;
}
.logo .logo-img svg rect {
  stroke: #222;
}
.logo .logo-img::after {
  content: "";
  border-right: 1px solid var(--border-color);
  display: block;
  position: absolute;
  top: 1rem;
  right: 0;
  height: calc(100% - 2rem);
}
.logo.dark-mode {
  border-radius: 14px;
  background-color: #fff;
  box-shadow: 0 1px 14px 5px rgba(0, 0, 0, 0.05);
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  background-color: #252525;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.07), 0 1px 14px 5px rgba(0, 0, 0, 0.15);
}
.logo.dark-mode .logo-img {
  transition: background 0.25s ease;
}
.logo.dark-mode .logo-img::after {
  border-right-color: var(--border-color-dark);
}
.logo.dark-mode .logo-img svg path {
  fill: #eee;
}
.logo.dark-mode .logo-img svg rect {
  stroke: #eee;
}
.logo .server-version {
  flex: 0 1 45%;
  text-align: center;
}

.menu {
  border-radius: 14px;
  background-color: #fff;
  box-shadow: 0 1px 14px 5px rgba(0, 0, 0, 0.05);
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  font-size: 0.875rem;
  list-style: none;
  margin-top: 0;
}
.menu a {
  color: #333;
  display: block;
  padding: 0.5rem 0;
}
.menu a:hover {
  color: var(--active-color);
}
.menu a .fas,
.menu a span {
  color: #757575;
  float: right;
}
.menu .phpmyadmin {
  display: flex;
  align-items: center;
  position: relative;
}
.menu .phpmyadmin a {
  flex: 1 1 auto;
}
.menu .phpmyadmin span {
  flex: 0 1 auto;
  color: #757575;
  cursor: pointer;
}
.menu .phpmyadmin span:hover .fas {
  color: var(--active-color);
}
.menu .phpmyadmin span:hover em {
  box-shadow: 0 1px 7px 3px rgba(0, 0, 0, 0.15);
  opacity: 1;
  top: -29px;
  transition: opacity 0.3s ease-out 0.15s;
}
.menu .phpmyadmin em {
  color: #fff;
  font-style: normal;
  white-space: nowrap;
  border-radius: 3px;
  background-color: var(--active-color);
  display: block;
  opacity: 0;
  position: absolute;
  top: -9999px;
  right: -13px;
  z-index: 1;
  padding: 5px 12px;
  cursor: default;
  pointer-events: none;
}
.menu .phpmyadmin em::after {
  content: "";
  border-top: 8px solid var(--active-color);
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  position: absolute;
  right: 12px;
  bottom: -6px;
  z-index: 2;
  width: 0;
  height: 0;
}
.menu .phpmyadmin code {
  font-size: 0.8125rem;
}
.menu.dark-mode {
  border-radius: 14px;
  background-color: #fff;
  box-shadow: 0 1px 14px 5px rgba(0, 0, 0, 0.05);
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  background-color: #252525;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.07), 0 1px 14px 5px rgba(0, 0, 0, 0.15);
}
.menu.dark-mode a {
  color: #ccc;
}
.menu.dark-mode a:hover, .menu.dark-mode a:hover .fas {
  color: var(--active-color);
}
.menu.dark-mode a .fas,
.menu.dark-mode a span {
  color: #999;
}

.settings {
  border-radius: 14px;
  background-color: #fff;
  box-shadow: 0 1px 14px 5px rgba(0, 0, 0, 0.05);
  margin-bottom: 1.5rem;
  padding: 1.5rem;
}
.settings .mode-switch-container {
  display: flex;
  align-items: center;
  cursor: default;
  padding-bottom: 1rem;
}
.settings .mode-switch-container .mode-label {
  color: #656565;
  font-size: 0.875rem;
  padding-right: 0.5rem;
}
.settings .mode-switch-container #mode-switch {
  border-radius: 20px;
  display: inline-block;
  position: relative;
  margin-left: auto;
  width: 54px;
  height: 26px;
}
.settings .mode-switch-container #mode-switch::after {
  content: "";
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 2px;
  width: 22px;
  height: 22px;
  transition: all 0.3s;
}
.settings.light-mode #mode-switch {
  background-color: #999;
}
.settings.light-mode #mode-switch::after {
  left: 2px;
}
.settings.dark-mode {
  border-radius: 14px;
  background-color: #fff;
  box-shadow: 0 1px 14px 5px rgba(0, 0, 0, 0.05);
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  background-color: #252525;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.07), 0 1px 14px 5px rgba(0, 0, 0, 0.15);
}
.settings.dark-mode .mode-switch-container .mode-label {
  color: #ccc;
}
.settings.dark-mode .mode-switch-container #mode-switch {
  background-color: var(--active-color);
}
.settings.dark-mode .mode-switch-container #mode-switch::after {
  left: 30px;
}

.color-picker-container {
  border-top: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  padding-top: 1rem;
}
.color-picker-container .color-label {
  color: #656565;
  font-size: 0.875rem;
  padding-right: 0.5rem;
}
.color-picker-container .color-wrap {
  flex-grow: 2;
  text-align: right;
}
.color-picker-container .color-wrap #color-picker {
  border-width: 0;
  border-style: none;
  border-image: none;
  background-color: transparent;
  padding: 0;
  width: 54px;
  height: 26px;
  -webkit-appearance: none;
  appearance: none;
}
.color-picker-container .color-wrap #color-picker::-webkit-color-swatch {
  background-color: var(--active-color);
}

.dark-mode .color-picker-container {
  border-top-color: var(--border-color-darker);
}
.dark-mode .color-picker-container .color-label {
  color: #ccc;
}

.sortable-container {
  border-top: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  margin-top: 1rem;
  padding-top: 1rem;
}
.sortable-container .sortable-label {
  color: #656565;
  font-size: 0.875rem;
  padding-right: 0.5rem;
}
.sortable-container .sortable-wrap {
  flex-grow: 2;
  text-align: right;
}
.sortable-container .sortable-wrap button {
  color: #333;
  font-size: 0.8125rem;
  border-style: none;
  border-radius: 3px;
  background-color: #eee;
  padding: 0.4rem 0.7rem;
  min-width: 27px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sortable-container .sortable-wrap button:hover:enabled {
  color: #fff;
  background-color: var(--active-color) !important;
  transition: all 0.15s ease;
}
.sortable-container.disabled .sortable-label,
.sortable-container.disabled button {
  opacity: 0.4;
}
.sortable-container.disabled button {
  cursor: default;
}

.dark-mode .sortable-container {
  border-top-color: var(--border-color-darker);
}
.dark-mode .sortable-container .sortable-label {
  color: #ccc;
}
.dark-mode .sortable-container .sortable-wrap button {
  color: #fff;
  background-color: var(--border-color-dark);
}

.grouping-name-container {
  border-top: 1px solid var(--border-color);
  position: relative;
  z-index: 1;
  margin-top: 1rem;
  padding-top: 1rem;
}
.grouping-name-container .grouping-wrap {
  display: flex;
  align-items: center;
  opacity: 1;
  transition: opacity 0.25s ease 0.15s;
}
.grouping-name-container .grouping-wrap.fadeout {
  opacity: 0;
  transition: opacity 0.2s ease;
}
.grouping-name-container .grouping-wrap .grouping-label {
  flex: 0 1 100%;
  color: #656565;
  font-size: 0.875rem;
}
.grouping-name-container .grouping-wrap .expand-group-field {
  border-radius: 3px !important;
}
.grouping-name-container .grouping-form {
  background-color: #252525;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 1rem 0 4px;
  width: 100%;
  transition: all 0.35s ease;
  clip-path: inset(0 0 0 100%);
}
.grouping-name-container .grouping-form.expand {
  clip-path: inset(0 0 0 0);
}
.grouping-name-container .grouping-form.expand .close-group-button {
  top: 16px;
}
.grouping-name-container .grouping-form input {
  flex: 1 1 auto;
  color: #333;
  font-size: 0.8125rem;
  border-style: none;
  border-radius: 3px 0 0 3px;
  background-color: var(--bg-color);
  padding: 6px 0 6px 6px;
  height: 28px;
}
.grouping-name-container .grouping-form input:focus {
  outline: none;
}
.grouping-name-container .grouping-form .close-group-button {
  font-size: 14px;
  background-color: var(--bg-color);
  position: absolute;
  top: -9999px;
  right: 47px;
  z-index: 1;
  width: 24px;
  height: 28px;
  cursor: pointer;
}
.grouping-name-container .grouping-form .close-group-button::before {
  content: "";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  opacity: 0.3;
  position: absolute;
  top: 6px;
  left: 5px;
  transition: opacity 0.25s ease;
}
.grouping-name-container .grouping-form .close-group-button:hover::before {
  opacity: 0.7;
}
.grouping-name-container .grouping-wrap .expand-group-field,
.grouping-name-container .grouping-wrap .create-group-button,
.grouping-name-container .grouping-form .expand-group-field,
.grouping-name-container .grouping-form .create-group-button {
  flex: 0 1 28px;
  color: #333;
  font-size: 0.8125rem;
  border-style: none;
  border-radius: 0 3px 3px 0;
  background-color: #eee;
  padding: 0.4rem 1.1rem;
  height: 28px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.grouping-name-container .grouping-wrap .expand-group-field:hover,
.grouping-name-container .grouping-wrap .create-group-button:hover,
.grouping-name-container .grouping-form .expand-group-field:hover,
.grouping-name-container .grouping-form .create-group-button:hover {
  color: #fff;
  background-color: var(--active-color) !important;
  transition: all 0.15s ease;
}

.dark-mode .grouping-name-container {
  border-top-color: var(--border-color-darker);
}
.dark-mode .grouping-name-container .grouping-label {
  color: #ccc;
}
.dark-mode .grouping-name-container .grouping-wrap input,
.dark-mode .grouping-name-container .grouping-form input {
  color: #fff;
  background-color: #1a1a1a;
}
.dark-mode .grouping-name-container .grouping-wrap .expand-group-field,
.dark-mode .grouping-name-container .grouping-wrap .create-group-button,
.dark-mode .grouping-name-container .grouping-form .expand-group-field,
.dark-mode .grouping-name-container .grouping-form .create-group-button {
  color: #fff;
  background-color: var(--border-color-dark);
}
.dark-mode .grouping-name-container .grouping-wrap .close-group-button,
.dark-mode .grouping-name-container .grouping-form .close-group-button {
  background-color: #1a1a1a;
}

.valetlinks-wrap {
  border-radius: 14px;
  background-color: #fff;
  box-shadow: 0 1px 14px 5px rgba(0, 0, 0, 0.05);
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  color: #333;
  font-size: 0.875rem;
  text-align: center;
  padding: 1.5rem 1px;
  width: 100%;
}
.valetlinks-wrap .header {
  display: flex;
}
.valetlinks-wrap .header .col {
  color: #656565;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1rem;
  padding: 0.6rem 10px 0 0;
}
.valetlinks-wrap .header .col.gripcol {
  flex: 0 1 48px;
  background-image: none !important;
  opacity: 1 !important;
  max-width: 48px;
}
.valetlinks-wrap .header .col.path {
  padding: 0.65rem 32px 0.65rem 0.5rem !important;
}
.valetlinks-wrap .valetlinks-container .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.valetlinks-wrap .valetlinks-container .row.group {
  font-weight: 600;
  background-color: #f7f7f7;
  box-shadow: inset 0 1px 0 0 rgba(17, 17, 17, 0.035), inset 0 -1px 0 0 rgba(17, 17, 17, 0.035);
  position: relative;
}
.valetlinks-wrap .valetlinks-container .row.group div {
  padding: 0.65rem 0.5rem;
}
.valetlinks-wrap .valetlinks-container .row.group .grip {
  flex: 0 1 48px;
  background: transparent url("../img/grip-light.svg") no-repeat center center;
  opacity: 0;
  min-width: 48px;
  cursor: move;
}
.valetlinks-wrap .valetlinks-container .row.group .label {
  flex: 1 1 auto;
  font-size: 0.875rem;
  text-align: left;
  text-transform: uppercase;
}
.valetlinks-wrap .valetlinks-container .row.group .label em {
  font-style: normal;
}
.valetlinks-wrap .valetlinks-container .row.group .remove {
  flex: 0 1 36px;
  text-align: right;
  opacity: 0;
  padding-right: 2.875rem;
  min-width: 36px;
}
.valetlinks-wrap .valetlinks-container .row.group .remove .fas {
  cursor: pointer;
}
.valetlinks-wrap .valetlinks-container .row:hover {
  background-color: #f0f0f0;
}
.valetlinks-wrap .valetlinks-container .row:hover.group .grip, .valetlinks-wrap .valetlinks-container .row:hover.group .remove,
.valetlinks-wrap .valetlinks-container .row:hover .col.grip,
.valetlinks-wrap .valetlinks-container .row:hover .col.remove {
  opacity: 0.5;
}
.valetlinks-wrap .valetlinks-container .row.ghost-class {
  background-color: #f9f9f9;
}
.valetlinks-wrap .header .col,
.valetlinks-wrap .valetlinks-container .col {
  text-align: left;
  padding: 0.65rem 0.5rem;
}
.valetlinks-wrap .header .col.grip,
.valetlinks-wrap .valetlinks-container .col.grip {
  flex: 0 1 48px;
  background: transparent url("../img/grip-light.svg") no-repeat center center;
  order: 1;
  opacity: 0;
  position: relative;
  min-width: 48px;
  cursor: move;
}
.valetlinks-wrap .header .col.site,
.valetlinks-wrap .valetlinks-container .col.site {
  flex: 0 1 40%;
  order: 4;
  min-width: 40%;
}
.valetlinks-wrap .header .col.ssl,
.valetlinks-wrap .valetlinks-container .col.ssl {
  flex: 0 1 10%;
  text-align: right;
  order: 3;
  padding-right: 10px;
  min-width: 10%;
}
.valetlinks-wrap .header .col.ssl .fas,
.valetlinks-wrap .valetlinks-container .col.ssl .fas {
  color: #999;
  font-size: 14px;
  margin-top: 2px;
  margin-right: 6px;
}
.valetlinks-wrap .header .col.url,
.valetlinks-wrap .valetlinks-container .col.url {
  flex: 0 1 calc(40% - 48px);
  order: 2;
  min-width: calc(40% - 48px);
}
.valetlinks-wrap .header .col.url a,
.valetlinks-wrap .valetlinks-container .col.url a {
  font-weight: 500;
  display: block;
}
.valetlinks-wrap .header .col.url span,
.valetlinks-wrap .valetlinks-container .col.url span {
  color: #444;
  padding-right: 0.15rem;
}
.valetlinks-wrap .header .col.path,
.valetlinks-wrap .valetlinks-container .col.path {
  flex: 0 1 10%;
  text-align: right;
  order: 6;
  position: relative;
  padding: 0 24px 0 0;
  min-width: 10%;
  cursor: default;
}

.dark-mode .valetlinks-wrap {
  border-radius: 14px;
  background-color: #fff;
  box-shadow: 0 1px 14px 5px rgba(0, 0, 0, 0.05);
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  background-color: #252525;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.07), 0 1px 14px 5px rgba(0, 0, 0, 0.15);
  padding: 1.5rem 1px;
}
.dark-mode .valetlinks-wrap .header .col {
  color: #999;
  border-color: var(--border-color-dark);
}
.dark-mode .valetlinks-wrap .header .col.url span {
  color: #656565;
}
.dark-mode .valetlinks-wrap .valetlinks-container {
  color: #ccc;
}
.dark-mode .valetlinks-wrap .valetlinks-container .row.group {
  background-color: #202020;
  box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.05);
}
.dark-mode .valetlinks-wrap .valetlinks-container .row:hover,
.dark-mode .valetlinks-wrap .valetlinks-container .row.ghost-class {
  background-color: #333;
}
.dark-mode .valetlinks-wrap .valetlinks-container .row.group .grip,
.dark-mode .valetlinks-wrap .valetlinks-container .col.grip {
  background-image: url("../img/grip-dark.svg");
}

.valetlinks-container span {
  display: block;
  position: relative;
  margin: 0 0 0 auto;
  width: 32px;
  height: 100%;
}
.valetlinks-container span::before {
  color: #999;
  content: "";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  position: absolute;
  top: 0.7rem;
  right: 10px;
  cursor: default;
}
.valetlinks-container span:hover::before {
  color: #222;
}
.valetlinks-container span em {
  color: #fff;
  font-style: normal;
  white-space: nowrap;
  border-radius: 3px;
  background-color: var(--active-color);
  display: block;
  opacity: 0;
  position: absolute;
  top: -9999px;
  right: -5px;
  z-index: 1;
  padding: 5px 12px;
  cursor: default;
  pointer-events: none;
}
.valetlinks-container span em::after {
  content: "";
  border-top: 8px solid var(--active-color);
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  position: absolute;
  right: 12px;
  bottom: -6px;
  z-index: 2;
  width: 0;
  height: 0;
}

.dark-mode .valetlinks-container span:hover::before {
  color: #fff;
}

.valetlinks-container span.show-path em {
  box-shadow: 0 1px 7px 3px rgba(0, 0, 0, 0.15);
  opacity: 1;
  top: -28px;
  transition: opacity 0.3s ease-out 0.15s;
}
.valetlinks-container span.fade em {
  opacity: 0;
  top: -28px;
  transition: opacity 0.2s ease-out;
}
/*# sourceMappingURL=styles.css.map */
