@charset "UTF-8";
:root {
  --active-color: #ba68c8;
  --bg-color: #171717;
}

body {
  color: #fff;
  text-align: center;
  background: var(--bg-color);
  margin: 50px;
}

a {
  color: var(--active-color);
  text-decoration: none;
  transition: color 0.2s ease-out;
}
a:hover {
  color: #fff;
  transition: color 0.05s ease-out;
}

small {
  color: #757575;
}

img {
  vertical-align: bottom;
}

.menu {
  border-radius: 9px;
  background-color: #222;
  box-shadow: 0 1px 14px 5px rgba(0, 0, 0, 0.15);
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding: 0.5rem;
  width: 100%;
  max-width: 700px;
}
.menu span {
  flex: 0 1 25%;
}
.menu a {
  color: #ccc;
  border-radius: 2px;
  display: inline-block;
  padding: 10px;
}
.menu a:hover {
  color: #fff;
}
.menu a i {
  font-size: 18px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.logo img:nth-child(1) {
  padding-right: 10px;
  max-width: 70px;
}
.logo img:nth-child(2) {
  padding-left: 10px;
  max-height: 35px;
}
.logo a {
  display: inline-block;
  padding-left: 1rem;
}

.table--valetlinks {
  color: #ccc;
  font-size: 14px;
  text-align: center;
  display: block;
  margin: 60px auto;
  width: 100%;
  max-width: 800px;
}
.table--valetlinks tbody {
  display: block;
  width: 100%;
}
.table--valetlinks tr {
  border-radius: 4px 0 3px 3px;
  display: flex;
  width: 100%;
}
.table--valetlinks tr:nth-child(1) {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}
.table--valetlinks tr:nth-child(1) td {
  border-top-style: none;
  border-bottom: 1px solid #282828;
}
.table--valetlinks td {
  text-align: left;
  border-top: 1px solid #282828;
  padding: 5px 8px;
}
.table--valetlinks td:nth-child(1) {
  flex: 0 1 40%;
  order: 3;
  min-width: 40%;
}
.table--valetlinks td:nth-child(2) {
  text-align: right;
  flex: 0 1 10%;
  order: 2;
  padding-right: 10px;
  min-width: 10%;
}
.table--valetlinks td:nth-child(2) .fas {
  color: #999;
  font-size: 14px;
  margin-top: 2px;
  margin-right: 6px;
}
.table--valetlinks td:nth-child(3) {
  flex: 0 1 40%;
  order: 1;
  min-width: 40%;
}
.table--valetlinks td:nth-child(4) {
  text-align: right;
  flex: 0 1 10%;
  order: 4;
  position: relative;
  padding: 0;
  min-width: 10%;
  cursor: default;
}

.table--valetlinks span {
  display: block;
  position: relative;
  margin: 0 0 0 auto;
  width: 32px;
  height: 100%;
}
.table--valetlinks span::before {
  color: #999;
  content: "";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: default;
}
.table--valetlinks span:hover::before {
  color: #fff;
}
.table--valetlinks span em {
  color: #fff;
  font-style: normal;
  white-space: nowrap;
  border-radius: 3px;
  background-color: var(--active-color);
  display: block;
  opacity: 0;
  position: absolute;
  top: -9999px;
  right: -5px;
  z-index: 1;
  /*margin-right: 40px;*/
  padding: 5px 12px;
  cursor: default;
  pointer-events: none;
}
.table--valetlinks span em::after {
  content: "";
  border-top: 8px solid var(--active-color);
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  position: absolute;
  right: 12px;
  bottom: -6px;
  z-index: 2;
  width: 0;
  height: 0;
}

.table--valetlinks span.show-path em {
  box-shadow: 0 1px 7px 3px rgba(0, 0, 0, 0.15);
  opacity: 1;
  top: -28px;
  transition: opacity 0.3s ease-out 0.15s;
}
.table--valetlinks span.fade em {
  opacity: 0;
  top: -28px;
  transition: opacity 0.2s ease-out;
}

.table--valetlinks tr:nth-child(1) td {
  color: #999;
}
.table--valetlinks tr:nth-child(1) td span {
  width: 100%;
}
.table--valetlinks tr:nth-child(1) td span em,
.table--valetlinks tr:nth-child(1) td span.show-path em {
  color: #999;
  background-color: transparent;
  box-shadow: none;
  opacity: 1;
  position: static;
  margin-right: 0;
  padding: 5px 10px 0 0;
}
.table--valetlinks tr:nth-child(1) td span::before,
.table--valetlinks tr:nth-child(1) td em::after {
  content: none;
}

pre#md-table {
  opacity: 0;
}
/*# sourceMappingURL=styles.css.map */
